<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="/home/favicon.png">
    <title>Qolab Solutions | About</title>
    <link rel="stylesheet" href="/about/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic"
    />
    <link rel="stylesheet" href="/about/fonts/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/about/css/style.css" />
    <link rel="stylesheet" href="/home/css/menu.css" />
    <link rel="stylesheet" href="/home/css/styles.css">
    <link rel="stylesheet" href="/home/fonts/ionicons.min.css" />
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <!-- <script src="https://unpkg.com/@barba/core"></script> -->
  <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.0.4/pixi.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script>
    document.documentElement.className = "js";
    var supportsCssVars = function() {
      var e,
        t = document.createElement("style");
      return (
        (t.innerHTML = "root: { --tmp-var: bold; }"),
        document.head.appendChild(t),
        (e = !!(
          window.CSS &&
          window.CSS.supports &&
          window.CSS.supports("font-weight", "var(--tmp-var)")
        )),
        t.parentNode.removeChild(t),
        e
      );
    };
    supportsCssVars() ||
      alert(
        "Please view this demo in a modern browser that supports CSS Variables."
      );
  </script>
  </head>

  <body id="page-top">
        <div class="frame">
                <div class="frame__nav">
                    <label class="main-nav-open nav-toggle" for="main-nav-toggle" tabindex="0" aria-label="Menu">
                        <svg aria-hidden="true" width="28px" height="20px" fill="white" viewBox="0 0 28 20">
                            <rect x="0" y="2" width="28" height="2"></rect>
                            <rect x="0" y="10" width="28" height="2"></rect>
                            <rect x="0" y="18" width="28" height="2"></rect>
                        </svg>
                    </label>
                    <input type="checkbox" id="main-nav-toggle" />
                    <nav class="main-nav">
                        <ul class="main-nav__fallback">
                            <li>
                                <a href="/lounge">Creators Lounge</a>
                            </li>
                            <li>
                                <a href="/studentchapters">Student Bodies</a>
                            </li>
                            <li>
                                <a href="/startups">Startups</a>
                            </li>
                            <li>
                                <a href="/media">Magazine & Blog</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/contact">Contact Us</a>
                            </li>
                            <li><a target="_blank" class="menu-social _tb" href="https://www.instagram.com/qolab.io">Instagram</a></li>
                            <li><a target="_blank" class="menu-social _tb" href="https://www.facebook.com/qolab.io">Facebook</a></li>
                            <li><a target="_blank" class="menu-social _tb" href="https://twitter.com/qolab_io">Twitter</a></li>
                        </ul>
                        <label class="main-nav__close nav-toggle" for="main-nav-toggle" tabindex="0" aria-label="Close menu">
                            <svg aria-hidden="true" width="24" height="22px" viewBox="0 0 24 22">
                                <path d="M11 9.586L20.192.393l1.415 1.415L12.414 11l9.193 9.192-1.415 1.415L11 12.414l-9.192 9.193-1.415-1.415L9.586 11 .393 1.808 1.808.393 11 9.586z">
                            </svg>
                        </label>
                    </nav>
                </div>
                <!-- <div class="circle">
                    <svg viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M75,100 C88.8071187,100 100,88.8071187 100,75 C100,61.1928813 88.8071187,50 75,50 C61.1928813,50 50,61.1928813 50,75 C50,88.8071187 61.1928813,100 75,100 Z"></path>
                    </svg>
                </div> -->
                
                <div class="frame__title-wrap">
                    <h1 class="frame__title"><a href="/">Qolab Solutions</a></h1>
                    <span class="frame__info">Click on the menu icon or press enter on keyboard</span>
                </div>
                <div class="frame__links">
                    <a href="register.html">Register</a>
                    <a href="#login">Login</a>
                    <a href="/about">About</a>
                </div>
            </div>
    <section id="about" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col offset-lg-8 mx-auto text-center">
            <h2 class="text-white section-heading">About Us</h2>
            <img id="logo_about" src="/about/img/about/fav.png" />
            <hr class="light my-4" />
            <p id="about_p" class="text-faded mb-4" align="justify">
              Qolab is a modular online end to end innovation management program
              that enables you to innovate and create value in a flexible,
              engaging and rewarding way. We believe that buried deep within
              every organization and communities are ideas, or a spark of them
              that never see light. At Qolab we provide a platform where only
              creativity speaks.
            </p>
            <a
              class="btn btn-light btn-xl js-scroll-trigger"
              id="about_btn"
              role="button"
              href="#services"
              >Join Now</a
            >
          </div>
        </div>
      </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center" id="about_how">
            <h2 class="text-uppercase">How it works</h2>
            <h3 class="text-muted section-subheading">
              How do you become a part of this creative community?
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-group timeline">
              <li class="list-group-item">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="/about/img/about/1.jpg"
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Step 1</h4>
                    <h4 class="subheading">Warm-up your creativity</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Start by answering Quick Questions from brands.
                      Participating in questionnaires and quizzes to help get
                      your creative cells warmed-up.
                    </p>
                  </div>
                </div>
              </li>
              <li class="list-group-item timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="/about/img/about/2.jpg"
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Step 2</h4>
                    <h4 class="subheading">Pick the brief that inspires you</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      We launch several new contests on qolab every week.
                      Between the different brands, required skills, challenges
                      and formats you will definitely find something for
                      yourself.
                    </p>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="/about/img/about/3.jpg"
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Step 3</h4>
                    <h4 class="subheading">Submit your most creative idea</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Once ready, submit your work to be presented to the Brand.
                      Community managers are here for you to answer your
                      questions and help you make your creation shine even
                      brighter amongst others.
                    </p>
                  </div>
                </div>
              </li>
              <li class="list-group-item timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="/about/img/about/4.jpg"
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Step 4</h4>
                    <h4 class="subheading">
                      Earn experience, recognition and cash prizes!
                    </h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      About 6 weeks after the end of a contest, brands will
                      fully review each entry and pick the winners.
                    </p>
                  </div>
                </div>
              </li>
              <li class="list-group-item timeline-inverted">
                <div class="timeline-image">
                  <img
                    class="rounded-circle img-fluid"
                    src="/about/img/about/trophy.png"
                  />
                  <!-- <h4>Be Part<br>&nbsp;Of Our<br>&nbsp;Story!</h4> -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">How you benifit</h2>
            <hr class="my-4" />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 text-center">
            <div class="mx-auto service-box mt-5">
              <i
                class="fa fa-newspaper-o fa-4x text-primary mb-3 sr-icons"
                data-aos="zoom-in"
                data-aos-duration="200"
                data-aos-once="true"
              ></i>
              <h4 class="mb-3">Certificates</h4>
              <p class="text-muted mb-0">
                Enrich your CV with brands' Certificates, an official
                certificate is available for your download.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 text-center">
            <div class="mx-auto service-box mt-5">
              <i
                class="fa fa-search fa-4x text-primary mb-3 sr-icons"
                data-aos="zoom-in"
                data-aos-duration="200"
                data-aos-delay="200"
                data-aos-once="true"
              ></i>
              <h4 class="mb-3">Learn from others</h4>
              <p class="text-muted mb-0">
                Browse other entries, learn new techniques and discover
                creativity from all over the world.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 text-center">
            <div class="mx-auto service-box mt-5">
              <i
                class="fa fa-comment fa-4x text-primary mb-3 sr-icons"
                data-aos="zoom-in"
                data-aos-duration="200"
                data-aos-delay="400"
                data-aos-once="true"
              ></i>
              <h4 class="mb-3">Feedback</h4>
              <p class="text-muted mb-0">
                We ensure that every winner receives a professional feedback on
                his work by Brands.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 text-center">
            <div class="mx-auto service-box mt-5">
              <i
                class="fa fa-dollar fa-4x text-primary mb-3 sr-icons"
                data-aos="fade"
                data-aos-duration="200"
                data-aos-delay="600"
                data-aos-once="true"
              ></i>
              <h4 class="mb-3">Get rewarded</h4>
              <p class="text-muted mb-0">
                Every time you win, you are awarded with monetary prizes by
                brands.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section id="portfolio" class="p-0">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-sm-6 col-lg-4">
            <a class="portfolio-box" href="/about/img/fullsize/1.jpg"
              ><img class="img-fluid" src="/about/img/thumbnails/1.jpg" />
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <span>Category</span>
                  </div>
                  <div class="project-name"><span>Project Name</span></div>
                </div>
              </div></a
            >
          </div>
          <div class="col-sm-6 col-lg-4">
            <a class="portfolio-box" href="/about/img/fullsize/2.jpg"
              ><img class="img-fluid" src="/about/img/thumbnails/2.jpg" />
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <span>Category</span>
                  </div>
                  <div class="project-name"><span>Project Name</span></div>
                </div>
              </div></a
            >
          </div>
          <div class="col-sm-6 col-lg-4">
            <a class="portfolio-box" href="/about/img/fullsize/3.jpg"
              ><img class="img-fluid" src="/about/img/thumbnails/3.jpg" />
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <span>Category</span>
                  </div>
                  <div class="project-name"><span>Project Name</span></div>
                </div>
              </div></a
            >
          </div>
          <div class="col-sm-6 col-lg-4">
            <a class="portfolio-box" href="/about/img/fullsize/4.jpg"
              ><img class="img-fluid" src="/about/img/thumbnails/4.jpg" />
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <span>Category</span>
                  </div>
                  <div class="project-name"><span>Project Name</span></div>
                </div>
              </div></a
            >
          </div>
          <div class="col-sm-6 col-lg-4">
            <a class="portfolio-box" href="/about/img/fullsize/5.jpg"
              ><img class="img-fluid" src="/about/img/thumbnails/5.jpg" />
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <span>Category</span>
                  </div>
                  <div class="project-name"><span>Project Name</span></div>
                </div>
              </div></a
            >
          </div>
          <div class="col-sm-6 col-lg-4">
            <a class="portfolio-box" href="/about/img/fullsize/6.jpg"
              ><img class="img-fluid" src="/about/img/thumbnails/6.jpg" />
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <span>Category</span>
                  </div>
                  <div class="project-name"><span>Project Name</span></div>
                </div>
              </div></a
            >
          </div>
        </div>
      </div>
    </section> -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h3 class="section-heading">
              You are not alone! We are here for you
            </h3>
            <hr class="my-4" />
            <p class="mb-5">
                We know it is not an easy path and sometimes you might have doubts even about your brightest ideas. To help you create your best, we are always here to share advice, offer tips and help you move forward.
            </p>
          </div>
        </div>
        <div
          class="row no-gutters d-lg-flex justify-content-lg-center align-items-lg-center"
        >
          <div class="col-lg-4 text-center text-center">
            <i
              class="fa fa-envelope-o fa-3x mb-3 sr-contact"
              id="mail_about"
              data-aos="zoom-in"
              data-aos-duration="300"
              data-aos-delay="300"
              data-aos-once="true"
            ></i>
            <p>
              <a href="mailto:helpdesk@qolab.io">helpdesk@qolab.io</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
            <div class="container" id="footer_text">
              <div class="row">
                <div class="col-sm-6 col-md-3 item">
                  <h3>For Brands</h3>
                  <ul>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">Learn More</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                  <h3>For Creators</h3>
                  <ul>
                    <li><a href="#">Creative Techniques</a></li>
                    <li><a href="#">Community Support</a></li>
                    <li><a href="#">FAQ - Knowledge Base</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Create an account</a></li>
                  </ul>
                </div>
                <div class="col-md-6 item text">
                  <h3>Qolab Solutions</h3>
                  <p>
                    Qolab Solutions is an online crowdsourcing and co-creation platform that allows brands to announce and conduct contests through the Internet. It is also a large community of talented creators who love to solve brands' challenges with fresh thinking, creative ideas and shareable content.
                  </p>
                </div>
                <!-- <div id="footer_social" class="col item social">
                  <a target="_blank" href="http://www.facebook.com/qolab.io"><i class="icon ion-social-facebook"></i></a
                  ><a target="_blank" href="https://twitter.com/qolab_io"><i class="icon ion-social-twitter"></i></a
                  ><a target="_blank" href="https://www.linkedin.com/company/qolab-solutions"><i class="icon ion-social-linkedin"></i></a
                  ><a target="_blank" href="https://www.instagram.com/qolab.io"><i class="icon ion-social-instagram"></i></a>
                </div> -->
              </div>
              <div>
                <img
                    class="d-lg-flex justify-content-center align-items-center ml-auto ml-sm-auto ml-md-auto justify-content-lg-center align-items-lg-center ml-lg-auto ml-xl-auto visible"
                    src="/home/img/Alpha%20-%20badge.png"
                    width="70"
                    height="70"
                /></div>
              <p class="copyright">Qolab Solutions © 2019</p>
            </div>
          </footer>
    <script src="/home/js/jquery.min.js"></script>
    <script src="/home/js/pixi.min.js"></script>
    <script src="/home/js/main.js"></script>
    <script src="/about/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="/about/js/creative.js"></script>
    <script src="/about/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
  </body>
</html>
