<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Qolab Solutions | Solving problems through crowdsourcing creative ideas</title>
		<meta name="description" content="" />
		<meta name="author" content="Sarvesh Kulkarni" />
		<link rel="shortcut icon" href="favicon.png">
    <title>Qolab Solutions</title>
    <link rel="stylesheet" href="common/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="home/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="home/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="home/css/Article-List.css" />
    <link rel="stylesheet" href="home/css/Brands.css" />
    <link rel="stylesheet" href="home/css/Footer-Dark.css" />
    <link rel="stylesheet" href="home/css/Navigation-with-Button.css" />
    <link rel="stylesheet" href="home/css/styles.css" />
    <link rel="stylesheet" href="home/css/menu.css">

    <!-- added links -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <!-- <script src="https://unpkg.com/@barba/core"></script> -->
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.0.4/pixi.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function() {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this demo in a modern browser that supports CSS Variables."
        );
    </script>
  </head>

  <body>
    <div>
        <div class="frame">
            <div class="frame__nav">
                <label class="main-nav-open nav-toggle" for="main-nav-toggle" tabindex="0" aria-label="Menu">
                    <svg aria-hidden="true" width="28px" height="20px" fill="white" viewBox="0 0 28 20">
                        <rect x="0" y="2" width="28" height="2"></rect>
                        <rect x="0" y="10" width="28" height="2"></rect>
                        <rect x="0" y="18" width="28" height="2"></rect>
                    </svg>
                </label>
                <input type="checkbox" id="main-nav-toggle" />
                <nav class="main-nav">
                    <ul class="main-nav__fallback">
                        <li>
                            <a href="#creators">Creators Lounge</a>
                        </li>
                        <li>
                            <a href="#studentchapters">Student Bodies</a>
                        </li>
                        <li>
                            <a href="#startups">Startups</a>
                        </li>
                        <li>
                            <a href="#media">Magazine & Blog</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#contact">Contact Us</a>
                        </li>
                        <li><a target="_blank" class="menu-social _tb" href="https://www.instagram.com/qolab.io">Instagram</a></li>
                        <li><a target="_blank" class="menu-social _tb" href="https://www.facebook.com/qolab.io">Facebook</a></li>
                        <li><a target="_blank" class="menu-social _tb" href="https://twitter.com/qolab_io">Twitter</a></li>
                    </ul>
                    <label class="main-nav__close nav-toggle" for="main-nav-toggle" tabindex="0" aria-label="Close menu">
                        <svg aria-hidden="true" width="24" height="22px" viewBox="0 0 24 22">
                            <path d="M11 9.586L20.192.393l1.415 1.415L12.414 11l9.193 9.192-1.415 1.415L11 12.414l-9.192 9.193-1.415-1.415L9.586 11 .393 1.808 1.808.393 11 9.586z">
                        </svg>
                    </label>
                </nav>
            </div>
            <!-- <div class="circle">
                <svg viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M75,100 C88.8071187,100 100,88.8071187 100,75 C100,61.1928813 88.8071187,50 75,50 C61.1928813,50 50,61.1928813 50,75 C50,88.8071187 61.1928813,100 75,100 Z"></path>
                </svg>
            </div> -->
            
            <div class="frame__title-wrap">
                <h1 class="frame__title"><a href="/">Qolab Solutions</a></h1>
                <span class="frame__info">Click on the menu icon or press enter on keyboard</span>
            </div>
            <div class="frame__links">
                <a href="register.html">Register</a>
                <a href="#login">Login</a>
                <a href="#about">About</a>
            </div>
        </div>
    </div>
    <div class="article-list">
      <div class="container text-dark border-dark">
        <div
          class="row d-lg-flex justify-content-end align-items-start align-items-lg-end articles"
        >
          <div
            id="home_tag"
            class="col-sm-auto col-md-auto col-lg-6 col-xl-6 align-self-center"
          >
            <b
              ><br />We connect your talent with leading brands to imagine new
              ideas, invent better products and co-create fun and engaging
              content.<br /><br
            /></b>
            <a href="register.html" class="button">
              <span>J</span><span>o</span><span>i</span><span>n</span> <i>N</i
              ><i>o</i><i>w</i>
              <b class="backgroundHover"></b>
            </a>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-2 item">
            <a href="#">
              <img class="img-fluid shadow-sm" src="home/img/home0.jpg"
            /></a>
            <h3 class="name">Technical Contests</h3>
            <a class="action" href="#"
              ><i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-2 item">
            <a href="#"
              ><img class="img-fluid shadow-sm" src="home/img/home1.jpg"
            /></a>
            <h3 class="name">Creative Contests</h3>
            <a class="action" href="#"
              ><i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-2 item">
            <a href="#"
              ><img class="img-fluid shadow-sm" src="home/img/home2.jpg"
            /></a>
            <h3 class="name">Co-creation forum</h3>
            <a class="action" href="#"
              ><i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="brands"></div>
    <div class="align-content-center footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>For Brands</h3>
              <ul>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Learn More</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h3>For Creators</h3>
              <ul>
                <li><a href="#">Creative Techniques</a></li>
                <li><a href="#">Community Support</a></li>
                <li><a href="#">FAQ - Knowledge Base</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Create an account</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h3>Qolab Solutions</h3>
              <p>
                Qolab Solutions is an online crowdsourcing and co-creation platform that allows brands to announce and conduct contests through the Internet. It is also a large community of talented creators who love to solve brands' challenges with fresh thinking, creative ideas and shareable content.
              </p>
            </div>
            <div id="footer_social" class="col item social">
              <a target="_blank" href="http://www.facebook.com/qolab.io"><i class="icon ion-social-facebook"></i></a
              ><a target="_blank" href="https://twitter.com/qolab_io"><i class="icon ion-social-twitter"></i></a
              ><a target="_blank" href="https://www.linkedin.com/company/qolab-solutions"><i class="icon ion-social-linkedin"></i></a
              ><a target="_blank" href="https://www.instagram.com/qolab.io"><i class="icon ion-social-instagram"></i></a>
            </div>
          </div>
          <div>
            <img
                class="d-lg-flex justify-content-center align-items-center ml-auto ml-sm-auto ml-md-auto justify-content-lg-center align-items-lg-center ml-lg-auto ml-xl-auto visible"
                src="home/img/Alpha%20-%20badge.png"
                width="70"
                height="70"
            /></div>
          <p class="copyright">Qolab Solutions © 2019</p>
        </div>
      </footer>
      
    </div>

    <script src="home/js/jquery.min.js"></script>
    <script src="home/bootstrap/js/bootstrap.min.js"></script>
    <script src="home/js/main.js"></script>
  </body>
</html>
