* {
  background-color: #26262c !important;
}
#about {
  background-color: #ffaf28 !important;
  color: #e0e0e0;
}
#about_how {
  margin-top: 5%;
}
#about_btn {
  color: #e0e0e0;
}
body {
  background-color: #26262c !important;
}
h4 {
  color: #ffaf28 !important;
}
h2 {
  color: #e0e0e0 !important;
}
#logo_about {
  width: 17%;
}
h4 {
  color: #e0e0e0 !important;
}
p {
  color: #e0e0e0;
}
#mail_about {
  color: #e0e0e0;
}
#about_p {
  font-size: 1.7rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
ul {
  list-style-type: none;
  text-align: left;
}
#footer_text {
  text-align: left;
}
.copyright {
  text-align: center;
}
h1 {
  font-weight: 0.6rem !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
